body {
    width: 90%;
    margin: 0 auto;
    background: url('https://img.europapress.es/fotoweb/fotonoticia_20190520045042_640.jpg') no-repeat;
    background-size: cover;
}


main {
    max-width: 90%;
    margin: 10px auto;
    padding: 10px 100px;
    text-align: center;
    opacity: 0.7;

    background: rgb(245, 230, 199);
}

header {
    padding: 0;
}

img {
    width: 120px;
    height: auto;
    margin: 20px 50px;
}
figcaption {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    border: 5px solid cadetblue;
    text-align: center;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hero,
#enemy {
    border: 5px dotted rgb(12, 76, 92); 
    width: 30%;
    margin: 20px auto;
}

#enemy {
    border: 5px dotted rgb(153, 45, 12); 
}